:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0d0a0b;
}
label {
  text-align: center;
  background-color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.btnSubmit {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.btnDelete {
  background-color: #dc3545;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  border: none;
}

.iconDelete {
  font-size: 25px;
  background-color: #dc3545;
  border-radius: 50%;
}

.container {
  margin-top: 50px;
}
